body{
	margin:0;
}
ul{
	list-style: none;
}
body{
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
	background-image:url('../images/tiny_grid_@2X.png'); 
	background-repeat: repeat;
}
h2{
	font-size: 1.7em;
	font-weight: bold;
	text-shadow: 1px 1px 0 white;
	margin-bottom: 10px;
	margin-top: 10px;
}
p{
	color:#555;
}
#header{
	background-color: #9B1F28;
	width:100%;
	height:30px;
}
#header2{
	width:100%;
	height:50px;
	margin: 0;
	background: rgb(181,189,200); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,189,200,1)), color-stop(36%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
	margin-bottom: 35px;
}
.logo{
	display: block;
	width: 148px;
	margin:0 auto;
	color:#C1272D;
	text-decoration: none;
	font-size: 23px;
	font-weight: 500;
	padding-top: 6px;
}
.logo:hover{
	color: red;
}
span.one{
	margin-right: 5px;
	position: relative;
	bottom: 9px;
	font-size: 21px;
}
span.two{
	position: relative;
	bottom: 9px;
	right: 17px;
}
.welcome{
	color: white;
	margin: 0;
	float: right;
	margin-right: 35px;
	margin-top: 5px;
}
.loginbtn{
	display: block;
	color: #DDD;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
	padding:4px 12px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid rgba(0, 0, 0, .4);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .2),inset 0 1px 0 rgba(255, 255, 255, .3);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.2),inset 0 1px 0 rgba(255,255,255,.3);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .2),inset 0 1px 0 rgba(255, 255, 255, .3);
	float: right;
	position: relative;
	right: 27px;
	bottom: 40px;
}
.loginbtn:hover, .backbtn:hover{
	color: #FFF;
}
.backbtn{
	display: block;
	color: #DDD;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
	padding:4px 12px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid rgba(0, 0, 0, .4);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .2),inset 0 1px 0 rgba(255, 255, 255, .3);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.2),inset 0 1px 0 rgba(255,255,255,.3);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .2),inset 0 1px 0 rgba(255, 255, 255, .3);
	float: left;
	position: relative;
	bottom: 74px;
	left: 11px;
}
#page{
	width:960px;
	background: white;
	margin: 0 auto;
	padding: 25px 35px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #CCC;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box
}
#page h1{
	font-weight: 300;
	margin-top: 0;
	padding-bottom:  8px;
	border-bottom: 1px solid silver;
}
.categories{
	width: 250px;
	padding: 11px;
	border: 1px solid #CCC;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box
}
.categories li a{
	display: block;
	color: inherit;
	padding: 4px 12px;
	font-size: 1.08em;
	font-weight: 200;
	line-height: 1.4em;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.categories li a.selected{
	color:red;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 0px 0px 3px black;
	box-shadow: 1px 1px 3px black;
}
.post{
	width: 900px;
	margin-left: 14px;
	margin: 0 auto;
	margin-top: 30px;
}
.post h2{
	width:390px;
}
.subtitle{
	margin: 0;
}
.post p{
	width:390px;
}
.deletebtn{
	display: block;
	width: 64px;
	float: left;
	margin-right: 40px;
	text-decoration: none;
}
.editbtn{
	display: block;
	width: 47px;
	float: left;
	text-decoration: none;
	margin-bottom: 32px;
}
.newpost{
	display: block;
	width: 84px;
	float: right;
	text-decoration: none;
	margin-right: 17px;
}
.border{
	border-bottom: 1px solid silver;
	width:650px;
	margin: 0 auto;
	margin-top:10px;
	margin-bottom:10px;
	clear:both;
}
.post .image{
	width:200px;
	float:left;
}
.image{
	border: 10px solid white;
	border-bottom: 17px solid white;
	-moz-box-shadow: 1px 1px 7px #000;
	-webkit-box-shadow: 1px 1px 7px black;
	box-shadow: 1px 1px 7px black;
}
.post-right{
	width: 390px;
	float: left;
	margin-left: 20px;
	margin-bottom: 84px;
}
.accordion{
	clear:both;
}
.section{
	margin-bottom: 10px;
}
.section a{
	text-decoration: none;
}
.section a h4:hover, .deletebtn:hover, .editbtn:hover, .newpost:hover{
	color:#9B1F28;
}
.section a:link, .section a:visited{
	color:#000;
}
.ingredients{
	width:450px;
	float:left;
}
.directions{
	width:450px;
	float:left;
}
.comments{
	width:900px;
	clear:both;
}
// Form Styles

#outerForm{
	clear:both;
	width:450px;
	margin: 0 auto;
	padding-top: 10px;
	height: 600px;
}
#outerForm{
	height: 600px;
}
#formFields{
	width:400px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.field{
	color: #4D4D4D;
	font-family: 'arial';
	font-size: 14pt;
	width: 390px;
	height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}
textarea.field, input.large{
	height:120px;
}
input.upload{
	text-indent: -11px;
	width: 380px;
	height: 26px;
	padding-left: 14px;
	font-size: 12px;
	margin-top: 12px;
}
input.submit{
	font-size: 12pt;
	padding: 3px;
	float: right;
	margin-right: 3px;
	width: 65px;
	color: white;
	text-shadow: 0px -2px 0px rgba(0, 0, 0, .5);
	background: rgb(157,213,58); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(157,213,58,1) 0%, rgba(161,213,79,1) 50%, rgba(128,194,23,1) 51%, rgba(124,188,10,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(157,213,58,1)), color-stop(50%,rgba(161,213,79,1)), color-stop(51%,rgba(128,194,23,1)), color-stop(100%,rgba(124,188,10,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
}
input.submit:hover{
	background: rgb(0,110,46); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(0,110,46,1) 0%, rgba(0,110,46,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,110,46,1)), color-stop(100%,rgba(0,110,46,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,110,46,1) 0%,rgba(0,110,46,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,110,46,1) 0%,rgba(0,110,46,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,110,46,1) 0%,rgba(0,110,46,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,110,46,1) 0%,rgba(0,110,46,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006e2e', endColorstr='#006e2e',GradientType=0 ); /* IE6-9 */
}